{% extends 'base.html.twig' %}

{% block title %}{{ 'register_title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'register_title'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username, {
            label: 'account.username'|trans
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'account.password'|trans
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">{{ 'account.register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
