{% extends 'base.html.twig' %}

{% block title %}{{ 'all_programs'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'all_programs'|trans }} :</h1>

{{ form_start(form) }}
{{ form_row(form.search, {label: 'search'}) }}
<button>{{ 'search'|trans }}</button>
{{ form_end(form) }}

{% for program in programs %}
    <div>
        <h2>{{ loop.index }} / {{ program.title }} - {{ 'category'|trans }} : {{ program.category.name }}</h2>
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'view'|trans }}</a>
        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('program_edit', { slug: program.slug }) }}"> {{ 'edit'|trans }}</a>
        {% endif %}
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
            <a class="watchlist-toggle" href="{{ path('program_watchlist', {id: program.id})}}">
                <i class="bi {{ app.user.watchlist.contains(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
            </a>
        {% endif %}
    </div>
{% else %}
    {{ 'no_program_found'|trans }}
{% endfor %}
{% endblock %}
