{% extends "base.html.twig" %}

{% block title %}Saison {{ season.number }}{% endblock %}

{% block body %}
<div class="media">
    {% set programUrl = path("program_show", { slug: program.slug }) %}
    <h1 class="mt-0">Saison {{ season.number }} de <a href="{{ programUrl }}">{{ program.title }}</a></h1>
    <p>{{ season.description }}</p>
    <p>Episodes :</p>
    <div>
    {% for episode in season.episodes %}
        {%
            set episodeUrl = path("program_episode_show", {
                    programSlug: program.slug,
                    seasonSlug: season.slug,
                    episodeSlug: episode.slug,
                })
        %}
        <div>
            <h2>{{ episode.number }} / <a href="{{ episodeUrl }}">{{ episode.title }}</a></h2>
            <p>{{ episode.synopsis }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
