{% extends "base.html.twig" %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
<h1>{{ actor.name }}</h1>
<img src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.name }} picture">
{% for program in actor.programs %}
    <div>
        <h2>{{ program.id }} / {{ program.title }}</h2>
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { slug: program.slug }) }}">{{ 'view_entry'|trans }}</a>
    </div>
{% else %}
    {{ 'no_program_found'|trans }}
{% endfor %}
{% endblock %}
