{% extends "base.html.twig" %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
<h1>{{ actor.name }}</h1>

{% for program in actor.programs %}
    <div>
        <h2>{{ program.id }} / {{ program.title }}</h2>
        <p>{{ program.summary }}</p>
        <a href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
    </div>
{% else %}
    Aucun acteur trouvé.
{% endfor %}
{% endblock %}
